header {
  height: 400px;
  width: 100%; 
  background-color: #a87d32;
  margin-top: 90px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
}