.tweet-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  height: 100%; 
  border: solid;
  padding: 10px;
  

}

.tweet-section:hover {
  box-shadow: 0 5px 10px cadetblue;
}

.name-handle {
  display: flex;
  justify-content: space-between;
  font-size: large;
}

.tweet {
  text-align: left;
  border: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;

}
