#tweet-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  height: 100%; 
  padding: 10px;
  opacity: 0.5;
}

.name-handle {
  display: flex;
  justify-content: space-between;
  font-size: large;
  margin: 0.5em;
}

.tweet-wrapper:hover {
  opacity: 1;
  box-shadow: 0 5px 10px cadetblue;
}

.tweet-wrapper:hover .handle {
  opacity: 1;
}

.avatar-wrapper {
  display: flex;
  align-items: center;
}

.handle {
  opacity: 0;
}

.tweet {
  text-align: left;
  border: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 1em;
}
.tweet-too-long {
  text-align: left;
  border: 2px solid red;
  border-top: none;
  border-left: none;
  border-right: none;
}
.tweet-wrapper {
  border: solid;
  margin: 10px;
  border-radius: 5px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  margin: 1em;
}

.error {
  display: none;
  text-align: center;
  border: 5px solid red;
  border-radius: 5px;
  color: red;
  margin: 2em;

}



@media only screen and (min-width: 1024px) {
  #tweet-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    height: 100%; 
    padding: 10px;
    opacity: 0.5;
  }

}
